.player{
    width: 300px;
    display: flex   ;
    align-items: center;
    
    span{
        font-size: 24px;
        margin-left: 16px;
    }
    background-color: rgba(178, 135, 57, 0.846);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        margin-left: 20px;
    }
}

.player-active{
    background-color: rgba(213, 225, 192, 0.717) !important;
    transform: scale(1.2);
}